p {
  margin-bottom: 0;
}
.wrapper {
  margin-top: 20px;
  margin-left: 20px;
}

.input-creator {
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 8px 0;
  padding-bottom: 27px;

  border-radius: 3px;
  border: .1px solid black;

  text-indent: 8px;
  font-size: 13px;
}
