p {
  margin-bottom: 0;
}
.wrapper {
  margin-top: 20px;
  margin-left: 20px;
}

body {
  background-image: url('https://yastatic.net/s3/bro-bg-store/bd1eac49-e68a-4943-b205-e10b8cfa74ff.jpg');
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

.add-list__btn {
   position: relative;

   min-height: 43px;

   padding-left: 25px;
   padding-top: 12px;
   padding-bottom: 12px;

   color: #6B808C;
   font-size: 13px;
}

.add-list__btn::before,
.add-list__btn::after {
  content: "";

  position: absolute;

  background-color: #6B808C;
}
.add-list__btn::before {
  top: 14px;
  left: 13px;

  width: 2px;
  height: 15px;
}
.add-list__btn::after {
  top: 20px;
  left: 7px;
  margin: 0;

  width: 15px;
  height: 2px;
}
